$breakpoint: 600px;

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  &_left {
    width: 5%;
    cursor: pointer;

    @media screen and (max-width: $breakpoint) {
      width: 15%;
    }

    &-logo {
      width: 100%;
    }
  }
}
